@font-face {
    font-family: 'press_start_2pregular';
    src: url('../../fonts/pressstart2p-regular-webfont.woff2') format('woff2'),
         url('../../fonts/pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.botonAgregarTarea{
    box-sizing: border-box;
    width: 30%;
    height: 30px;
    font-family: 'press_start_2pregular';
    
    background-color: rgb(121, 230, 111);
}

.botonAgregarTarea:hover{
    background-color: rgb(59, 253, 111);
}

.botonAgregarTarea:active{
    background-color: rgb(139, 199, 133);
}

