.botonCompletar {
    font-family: 'press_start_2pregular';
    box-sizing: border-box;
    width: 20%;
    border-bottom: 2px solid black;
    background-color: rgb(111, 149, 230);
}

.botonCompletar:hover{
    background-color: rgb(59, 133, 253);
}

.botonCompletar:active{
    background-color: rgb(133, 150, 199);
}

.botonReiniciar {
    font-family: 'press_start_2pregular';
    box-sizing: border-box;
    width: 20%;
    border-bottom: 2px solid black;
    background-color: rgb(230, 220, 111);
}

.botonReiniciar:hover{
    background-color: rgb(243, 253, 59);
}

.botonReiniciar:active{
    background-color: rgb(198, 199, 133);
}